@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using MudBlazor
@using MudBlazor.StaticInput


@inject SignInManager<User> SignInManager
@inject IdentityRedirectManager RedirectManager

@if (externalLogins.Any())
{

    <MudCard Style="width: 100%;">
        <MudCardHeader Class="mud-theme-info">
            <MudText Typo="Typo.subtitle1">Register with an external account</MudText>
        </MudCardHeader>
        <MudCardContent>
            <form class="form-horizontal" action="Account/PerformExternalLogin" method="post">
                <div>
                    <AntiforgeryToken />
                    <input type="hidden" name="ReturnUrl" value="@ReturnUrl" />
                    <p>
                        @foreach (var provider in externalLogins)
                        {
                            <MudButton StartIcon=@AuthIcon(provider.Name) ButtonType="ButtonType.Submit" Variant="Variant.Filled"
                                       title=@($"Log in using your {provider.DisplayName} account")
                                       name="provider" value="@provider.Name" >
                                @provider.DisplayName
                            </MudButton>
                            <!--
                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name"
                                    title="Log in using your @provider.DisplayName account">
                                <MudIcon Icon=@AuthIcon(provider.Name) Size="Size.Small" />
                                @provider.DisplayName
                            </button>
                            -->
                        }
                    </p>
                </div>
            </form>
        </MudCardContent>
    </MudCard>
}

@code {
    private AuthenticationScheme[] externalLogins = [];

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        externalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToArray();
    }

    string AuthIcon(string providerName) => providerName.ToLower() switch
    {
        "google" => Icons.Custom.Brands.Google,
        "facebook" => Icons.Custom.Brands.Facebook,
        "twitter" => Icons.Custom.Brands.Twitter,
        "microsoft" => Icons.Custom.Brands.Microsoft,
        _ => Icons.Material.Filled.AccountCircle
    };
}
