@using MudBlazor.Services
@implements IBrowserViewportObserver
@implements IAsyncDisposable

@inject IJSRuntime JSRuntime
@inject NavigationManager nm
@inject IBrowserViewportService BrowserViewportService


<MudPaper Elevation="2" Style="background-color: black;" Width="@paperW" Height="@paperH" >
    <iframe id="wsiFrame" title="WSI Viewer"
            width="@pxWidth" height="@pxHeight" style="border:none; max-height: @pxHeight;"
            srcdoc="@iframe">
    </iframe>
</MudPaper>


@if (!string.IsNullOrEmpty(errorMessage))
{
    <MudAlert Severity="Severity.Warning" Class="my-1 pa-1">
            @errorMessage
    </MudAlert>
}

@code{
    [Parameter, EditorRequired]
    public string ImagePath { get; set; }

    [Parameter]
    public bool ShowViewerInfo { get; set; } = true;

    [Parameter]
    public int? MaxWidth { get; set; }

    [Parameter]
    public int? MaxHeight { get; set; } = 600;

    [Parameter]
    public string BackgroundColor { get; set; } = "#222";

    [Parameter]
    public string ForegroundColor { get; set; } = "#ddd";


    string paperH => $"{pxHeight}px";
    string paperW => $"{pxWidth}px";


    private int pxWidth = 0;
    private int pxHeight = 0;

    string ViewerStyle => $"width: {pxWidth - 16}px; height: {pxHeight - 22}px; font-color: {ForegroundColor}; background-color: {BackgroundColor};";


    string errorMessage;
    string iframe = "<p>loading ...</p>";


    protected override void OnParametersSet()
    {
        if (pxWidth > 0)
        {
            LoadHtml();
        }
    }


    private void LoadHtml()
    {
        var html = new OsdViewerHtml();
        iframe = html.CreateIframeHtml(ImagePath, ViewerStyle);
    }



    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await BrowserViewportService.SubscribeAsync(this, fireImmediately: true);
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    public async ValueTask DisposeAsync() => await BrowserViewportService.UnsubscribeAsync(this);

    Guid IBrowserViewportObserver.Id { get; } = Guid.NewGuid();

    ResizeOptions IBrowserViewportObserver.ResizeOptions { get; } = new()
    {
        ReportRate = 50,
        NotifyOnBreakpointOnly = false
    };

    int _Width;
    int _Height;

    Task IBrowserViewportObserver.NotifyBrowserViewportChangeAsync(BrowserViewportEventArgs browserViewportEventArgs)
    {
        _Width = browserViewportEventArgs.BrowserWindowSize.Width;
        _Height = browserViewportEventArgs.BrowserWindowSize.Height;

        pxWidth = _Width > 960 ? _Width - 300 : _Width - 10;
        pxHeight = _Height - 150;

        if (MaxWidth.HasValue && MaxWidth < pxWidth)
            pxWidth = MaxWidth.Value;

        if (MaxHeight.HasValue && MaxHeight < pxHeight)
            pxHeight = MaxHeight.Value;

        LoadHtml();
        return InvokeAsync(StateHasChanged);
    }
}

